<a href="https://colab.research.google.com/github/santhimaddipudi/Python/blob/master/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#It is built on top of NumPy and provides features not available in it.
#There are three main data structures in pandas:
• Series
• DataFrame
• Panel###

### Series

In [2]:
#series--1D array under the hood--dat acane be an ndarray,dict or scalar value
import numpy as np
import pandas as pd
np.random.seed(100)
ser=pd.Series(np.random.rand(7)); ser

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
dtype: float64

In [4]:
#creates a Series structure of the first 5 months of the year with a specified index of month names
import calendar as cal
monthNames=[cal.month_name[i] for i in np.arange(1,6)]
months=pd.Series(np.arange(1,6),index=monthNames);months

January     1
February    2
March       3
April       4
May         5
dtype: int64

In [5]:
#using dict for series
currDict={'US' : 'dollar', 'UK' : 'pound',
'Germany': 'euro', 'Mexico':'peso',
'Nigeria':'naira',
'China':'yuan', 'Japan':'yen'}
currSeries=pd.Series(currDict); currSeries

US         dollar
UK          pound
Germany      euro
Mexico       peso
Nigeria     naira
China        yuan
Japan         yen
dtype: object

In [6]:
stockPrices = {'GOOG':1180.97,'FB':62.57,
'TWTR': 64.50, 'AMZN':358.69,
'AAPL':500.6}
stockPriceSeries=pd.Series(stockPrices,
index=['GOOG','FB','YHOO',
'TWTR','AMZN','AAPL'],
name='stockPrices')  #as the key for one of the index not availble in dict it is showing Nan
stockPriceSeries

GOOG    1180.97
FB        62.57
YHOO        NaN
TWTR      64.50
AMZN     358.69
AAPL     500.60
Name: stockPrices, dtype: float64

In [7]:
#using scalr values in series
dogSeries=pd.Series('chihuahua',
index=['breed','countryOfOrigin',
'name', 'gender'])
dogSeries

breed              chihuahua
countryOfOrigin    chihuahua
name               chihuahua
gender             chihuahua
dtype: object

In [8]:
type(dogSeries)

pandas.core.series.Series

In [11]:
dog2=pd.Series('chihuahua')#without index
dog2
type(dog2)

pandas.core.series.Series

In [13]:
stockPriceSeries

GOOG    1180.97
FB        62.57
YHOO        NaN
TWTR      64.50
AMZN     358.69
AAPL     500.60
Name: stockPrices, dtype: float64

In [ ]:
stockPriceSeries['MSFT']# KeyError is raised if you try to retrieve a missing label

In [20]:
#alternative
stockPriceSeries.get('MSFT',np.NaN)

nan

In [23]:
stockPriceSeries[1:3]

FB      62.57
YHOO      NaN
Name: stockPrices, dtype: float64

In [24]:
stockPriceSeries[stockPriceSeries > 100]

GOOG    1180.97
AMZN     358.69
AAPL     500.60
Name: stockPrices, dtype: float64

In [27]:
#statistical operations
print(np.mean(stockPriceSeries))
print(np.std(stockPriceSeries))

433.466
410.50223047384287

In [28]:
ser

0    0.543405
1    0.278369
2    0.424518
3    0.844776
4    0.004719
5    0.121569
6    0.670749
dtype: float64

In [29]:
ser*ser

0    0.295289
1    0.077490
2    0.180215
3    0.713647
4    0.000022
5    0.014779
6    0.449904
dtype: float64

In [30]:
#data is automatically aligned on the basis of the label
ser[1:]+ser[:-3]

0         NaN
1    0.556739
2    0.849035
3    1.689552
4         NaN
5         NaN
6         NaN
dtype: float64

### **DataFrame**
DataFrame is an 2-dimensional labeled array. Its column types can be heterogeneous:
that is, of varying types.