<a href="https://colab.research.google.com/github/santhimaddipudi/Python-work/blob/master/pyprog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Count no.of vowles**

In [1]:
vowel=['a','e','i','o','u','A','E','I','O','U']
sen=input("Enter string:")
count=0
for i in sen:
  if i in vowel:
    count+=1
print("Number of vowels in string is:",count)

Enter string:my name is santhi
Number of vowels in string is: 5

##**Counting the Number of Occurances of a Character in a String**

In [2]:
sen=input("Enter string:")
find=input("Enter character to find:")
count=0
for letter in sen:
  if letter==find:
    count+=1
print(find,"occurs",count,"times")

Enter string:my world is beautiful
Enter character to find:i
i occurs 2 times

#writing febnocci series

In [4]:
fib = [0,1]
# Range starts from 0 by default
for i in range(8):
    fib.append(fib[-1] + fib[-2])

# Converting the list of integers to string
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8, 13, 21, 34

#Finding the Maximum Number in a List

In [14]:
numberList = [15, 85, 35, 89, 125]
maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

#find middle element

In [16]:
numList = [1, 2, 3, 4, 5]
midElement = int((len(numList)/2))

print(numList[midElement])

6

#convert list to string

In [18]:
lst = ["P", "Y", "T", "H", "O", "N"]
print(type(lst))
string = ''.join(lst)

print(string)
print(type(string))

<class 'list'>
PYTHON
<class 'str'>

adding two list elements

In [24]:
lst1 = [1, 2, 3,6]
lst2 = [4, 5, 6,0]

res_lst = []
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i])
print(res_lst)

[5, 7, 9, 6]

#Comparing Two Strings for Anagrams

In [29]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

['E', 'I', 'L', 'N', 'S', 'T']
['E', 'I', 'L', 'N', 'S', 'T']
True

#Checking for Palindrome Using Extended Slicing Technique

In [32]:
str1 = "Kayak".lower()
str2 = "kayak".lower()
print(str2[::-1])
if(str1 == str2[::-1]):
    print("True")
else:
    print("False")

kayak
True

#count white spaces in string

In [34]:
string = "P r ogramm in g "
print(string.count(' '))

5

In [37]:
# Importing Regular Expressions Library
import re

name = 'Python is 123 boost'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

3
13
3

In [39]:
# Importing Regular Expressions Library
import re
spChar = "!@#$%^&*)sanmad"

count = re.sub('[\w]+', '', spChar)
print(len(count))

9

In [40]:
text=input("Enter string:")
print(text.replace(" ",""))

Enetr string:my name is san
mynameissan

#Building a Pyramid in Python

In [42]:
floors = 5
h = 2*floors-1
for i in range(1, 2*floors, 2):
    print('{:^{}}'.format('*'*i, h))

    *
   ***
  *****
 *******
*********

find all such numbers which are divisible by 7 but are not a multiple of 5

In [46]:
l=[]
for i in range(2, 72):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

7,14,21,28,42,49,56,63

Write a program which can compute the factorial of a given numbers

In [50]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input("enter number:"))
print(fact(x))

enter number:6
720

In [55]:
from typing import Dict
x=int(input("enter number:"))
res=dict()
for i in range(1,x+1):
  res[i]=i*i
print(res)

enter number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
values=input("enter comma seperated numbers:")
l=values.split(",")
t=tuple(l)
print(l)
print(t)

enter comma seperated numbers:1,2,3,4,6
['1', '2', '3', '4', '6']
('1', '2', '3', '4', '6')

#Define a class which has at least two methods

In [58]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input("enter string value:")

    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

enter string value:santhi is good
SANTHI IS GOOD

In [59]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

my name
my son

MY NAME
MY SON

In [61]:
s = input()
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

hello my dev hello
dev hello my